<div>
    <ol class="list-group">
        <li class="list-group-item list-group-item-info" ng-if="content.preamble">
            <p class="text-muted"><strong>題幹</strong></p>
            <p ng-bind-html="trustAsHtml(content.preamble)"></p>
        </li>
        <li class="list-group-item" ng-repeat="question in content.questions">
            <p class="text-muted" ng-if="content.questions.length > 1"><strong>（{{$index + 1}}）</strong></p>
            <ib-question-content question="question" item="item" question-index="{{$index}}" on-answer-updated="onAnswerUpdated({result:result})"></ib-question-content>
        </li>
        <li class="list-group-item">
            <div ng-bind-html="item.solution" ng-if="item.solution"></div>
            <p class="text-muted" ng-if="!item.solution">
                沒有解析
            </p>
        </li>
    </ol>
</div>
