<div class="ib-keyboard">
    <div ng-repeat="subjectId in subjectIds">
      <div class="categories">
        <span ng-repeat="category in getKeyboardCategories()" class="category-title" ng-click="onCategoryClick(category)" ng-class="{active:category == currentCategory}">{{category}}</span>
      </div>
      <hr>
      
      <span ng-click="onKeyClick({keyValue: code.value})" class="key" ng-repeat="code in KEYBOARD_CODE[subjectId.toUpperCase()]" ng-if="code.category == currentCategory">{{code.value}}</span>
    </div>
</div>

